<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- driver jdbc -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		
		<!-- chaine de connexion -->
		<property name="connection.url">jdbc:mysql://localhost/bliss?autoReconnect=true</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		
		<!-- pool -->
		<property name="connection.pool_size">10</property> <!--  avec 10 le nombre de connexion à ouvrir par le pool -->

		<!-- Dialect SQL --> 		
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- persistence -->	
		<property name="current_session_context_class">thread</property>

		<!-- afficher sql -->	
		<property name="show_sql">true</property>

		<!-- génération auto de la bd -->
		<!-- <property name="hibernate.hbm2dll.auto">create/update</property> -->
		
		<mapping class="com.bliss.metier.Test"/>
		<mapping class="com.bliss.metier.Administrateur"/>
			
	</session-factory>
</hibernate-configuration>